<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>
<div class="container">
    <div class="col-md-10 bordering">
        <form class="form-horizontal" method="post" action="/register">
            <h3>Personal informations</h3>
            <div class="form-group">
                <input required="true" type="text" placeholder="Name" class="form-control" name="name"/>
            </div>
            <div class="form-group">
                <input required="true" type="text" placeholder="UserName" class="form-control" name="userName" oninput="checkUser(this)"/>
            </div>
            <div class="form-group">
                <input required="true" type="password" placeholder="Password" class="form-control" name="password" id="password"/>
            </div>
            <div class="form-group">
                <input required="true" type="password" placeholder="Password confirmation" class="form-control" name="passwordConfirmation" oninput="checkPW(this)"/>
            </div>
            <div class="form-group">
                <input required="true" type="email" placeholder="Email (example@example.com)" class="form-control" name="email" oninput="checkEmail(this)"/>
            </div>
            <div class="form-group">
                <input required="true" type="tel" placeholder="Phone Number" class="form-control" name="phone"/>
            </div>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>
</body>
<script language='javascript' type='text/javascript'>
    function checkPW(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }

    function checkEmail(input) {
        $.get("/api/checkemail", {email:input.value}).done(function (resp) {
            console.log(resp);
            if (!resp){
                input.setCustomValidity('Email is already in use');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        })
    }

    function checkUser(input) {
        $.ajax({
            url : "/api/checkuser",
            type : "get",
            async: false,
            data: {user_name:input.value},
            success : function(resp) {
                console.log(resp);
                if (!resp){
                    input.setCustomValidity('UserName is already in use');
                } else {
                    input.setCustomValidity('');
                }
            }
        });
    }
</script>
</html>